*.are -crlf -diff -merge
*.bam -crlf -diff -merge
*.cre -crlf -diff -merge
*.dll -crlf -diff -merge
*.eff -crlf -diff -merge
*.exe -crlf -diff -merge
*.itm -crlf -diff -merge
*.pro -crlf -diff -merge
*.spl -crlf -diff -merge
*.vvc -crlf -diff -merge
*.wav -crlf -diff -merge
